<div class="map-listing">
  <div class="row-fluid filters">
    <div class="span12">
      <p>
        <span class="major">
          <%= map_listing_filter('Today', 'today', default: true) %> |
          <%= map_listing_filter('All', 'all') %>
        </span>
        <br/>
        <%= map_listing_filter('Sunday', 'sun') %> |
        <%= map_listing_filter('Monday', 'mon') %> |
        <%= map_listing_filter('Tuesday', 'tue') %> |
        <%= map_listing_filter('Wednesday', 'wed') %> |
        <%= map_listing_filter('Thursday', 'thu') %> |
        <%= map_listing_filter('Friday', 'fri') %> |
        <%= map_listing_filter('Saturday', 'sat') %>
        <span class="filter-options filter-today-options">
          <br/>
          Is it raining?
          <label><input type="radio" name="rainy" value="yes"/> Yes</label>
          <label><input type="radio" name="rainy" value="no" checked="checked"/> No</label>
        </span>
      </p>
    </div>
  </div>

  <div class="row-fluid listings-and-map">
    <div class="span4">
      <ul class="listings">
        <% @current_post.data.each do |restaurant| %>
          <li title="<%= restaurant.place %>" class="<%= map_listing_css(restaurant.specials.keys) %>" data-latitude="<%= restaurant.latitude %>" data-longitude="<%= restaurant.longitude %>">
            <h3><%= restaurant.place %></h3>

            <p class="address">
              <%= restaurant.address.street %><br/>
              <%= restaurant.address.city %>, <%= restaurant.address.state %> <%= restaurant.address.zip %>
            </p>

            <ul class="specials">
              <% restaurant.specials.each do |type, description| %>
              <li class="filter-<%= type %>">
                <span class="listing-filter"><%= type.to_s.titleize %>:</span><span class="description"><%= description %></span>
              </li>
              <% end %>
            </ul>

            <a href="#" class="view-on-map btn btn-primary">View on map</a>
            <a href="#" class="back-to-listing">Back to Listing</a>
          </li>
        <% end %>
        <li class="no-listings last">
          <h3>There are no specials :filter.</h3>
        </li>
      </ul>
    </div>

    <div class="span8 map">
      <%= map_listing_canvas(latitude: 33.782869, longitude: -84.354157, zoom: 15) %>
    </div>
  </div>

  <%= map_listing_javascript %>
</div>

<p class="alert alert-info">
  Know of an Atlanta food or drink special not listed? <%= mail_to 'dan@topdan.com', 'Email me' %>.
</p>
