<% @current_post.data.in_groups_of(2).each do |group| %>
  <div class="row bg-white pt-2e pb-2e">
    <% group.compact.each do |video| %>
      <div class="col-md-3">
        <h3 id="<%= video.id %>" class="mt-0"><%= link_to(video.title, "##{video.id}") %></h3>

        <%= video.description_html.html_safe %>

        <% if video.youtube2_key %>
          <p>Visit on YouTube: <%= link_to('Video 1', video.youtube1_url) %>, <%= link_to('Video 2', video.youtube2_url) %></p>
        <% else %>
          <p>Visit on YouTube: <%= link_to('Full Video', video.youtube1_url) %></p>
        <% end %>
      </div>
      <div class="col-md-3 center">
        <%= embed_youtube_video(video.youtube1_key) %>
      </div>
    <% end %>
  </div>
<% end %>
