<ul id="poster-filters">
  <li><span class="label label-inverse">Filters</span></li>
  <li><a href="#all" class="btn btn-primary">All</a></li>
  <% @services.each do |service| %>
    <li><%= link_to service_image_tag(service), "##{service}", class: 'btn', 'data-filter' => service %>
  <% end %>
</ul>

<ul id="posters">
<% @current_post.data.each do |movie| %>
  <li>
    <p class="poster">
      <% if movie.references[:rotten_tomatoes] %>
        <%= link_to(image_tag(movie.poster_url, alt: movie.title), movie.references[:rotten_tomatoes]) %>
      <% else %>
        <%= image_tag(movie.poster_url, alt: movie.title) %>
      <% end %>
    </p>

    <p class="media-links">
      <% movie.streams.each do |service, url| %>
        <%= link_to service_image_tag(service), url, class: service %>
      <% end %>
    </p>

    <p class="title">
      <% if movie.references[:rotten_tomatoes] %>
        <%= link_to(movie.title, movie.references[:rotten_tomatoes]) %>
      <% else %>
        <%= movie.title %>
      <% end %>
    </p>
  </li>
<% end %>
</ul>
