<ul id="posters">
{% for movie in movies %}
  <li class="{{ movie.permalink }}">
    <p class="poster">
      {% if movie.rotten_tomatoes_url %}
      <a href="{{ movie.rotten_tomatoes_url }}"><img src="{{ movie.poster_url }}" alt="{{ movie.title | escape }}"/></a>
      {% else %}
      <img src="{{ movie.poster_url }}" alt="{{ movie.title | escape }}"/>
      {% endif %}
    </p>

    <p class="media-links">
      {% if movie.netflix_url and movie.on_netflix_instant %}<a href="{{ movie.netflix_url | escape }}"><img src="/assets/entertainment/16x16/netflix.png" alt="netflix"/></a>{% endif %}
      {% if movie.amazon_url %}<a href="{{ movie.amazon_url | escape }}"><img src="/assets/entertainment/16x16/amazon.png" alt="amazon"/></a>{% endif %}
      {% if movie.showtime_url %}<a href="{{ movie.showtime_url | escape }}"><img src="/assets/entertainment/16x16/showtime.png" alt="showtime"/></a>{% endif %}
      {% if movie.hbogo_url %}<a href="{{ movie.hbogo_url | escape }}">HBOgo</a>{% endif %}
      {% if movie.maxgo_url %}<a href="{{ movie.maxgo_url | escape }}">MAXgo</a>{% endif %}
    </p>

    <p class="title">
      {% if movie.rotten_tomatoes_url %}
        <a href="{{ movie.rotten_tomatoes_url }}">{{ movie.title | escape }}</a>
      {% else %}
        {{ movie.title | escape }}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>
