<ul id="poster-filters">
  <li><span class="label label-inverse">Filters</span></li>
  <li><a href="#" class="btn btn-primary">All</a></li>
  <li><a href="#" class="btn" data-filter="netflix"><img src="/assets/entertainment/16x16/netflix-8bde6efce34442376d049b211ba09d79.png" alt="netflix"/></a></li>
  <li><a href="#" class="btn" data-filter="amazon"><img src="/assets/entertainment/16x16/amazon-ce50ceee80d4df50e61fe60d2375db12.png" alt="netflix"/></a></li>
  <li><a href="#" class="btn amazon-prime" data-filter="amazon-prime"><img src="/assets/entertainment/amazon-prime-8633df038bcf381ad35c08b34b25dce4.png" alt="netflix"/></a></li>
  <li><a href="#" class="btn" data-filter="hbogo"><img src="/assets/entertainment/hbo-ea4b03f563f64935b2ab95d36484bb4b.png" alt="netflix"/></a></li>
  <li><a href="#" class="btn" data-filter="maxgo"><img src="/assets/entertainment/cinemax-622c2bd98de87f7b0a2872236dec4bfc.png" alt="netflix"/></a></li>
  <li><a href="#" class="btn" data-filter="showtime"><img src="/assets/entertainment/16x16/showtime-689bdf48f3c6585fced9b1ea61f32f1a.png" alt="netflix"/></a></li>
</ul>


<ul id="posters">
{% for movie in movies %}
  <li>
    <p class="poster">
      {% if movie.rotten_tomatoes_url %}
      <a href="{{ movie.rotten_tomatoes_url }}"><img src="{{ movie.poster_url }}" alt="{{ movie.title | escape }}"/></a>
      {% else %}
      <img src="{{ movie.poster_url }}" alt="{{ movie.title | escape }}"/>
      {% endif %}
    </p>

    <p class="media-links">
      {% if movie.netflix_url and movie.on_netflix_instant %}<a href="{{ movie.netflix_url | escape }}" class="netflix"><img src="/assets/entertainment/16x16/netflix-8bde6efce34442376d049b211ba09d79.png" alt="netflix"/></a>{% endif %}
      {% if movie.amazon_url %}
        {% if movie.on_amazon_prime %}
          <a href="{{ movie.amazon_url | escape }}" class="amazon-prime"><img src="/assets/entertainment/amazon-prime-8633df038bcf381ad35c08b34b25dce4.png" alt="amazon"/></a>
        {% else %}
          <a href="{{ movie.amazon_url | escape }}" class="amazon"><img src="/assets/entertainment/16x16/amazon-ce50ceee80d4df50e61fe60d2375db12.png" alt="amazon"/></a>
        {% endif %}
      {% endif %}
      {% if movie.hbogo_url %}<a href="{{ movie.hbogo_url | escape }}" class="hbogo"><img src="/assets/entertainment/hbo-ea4b03f563f64935b2ab95d36484bb4b.png" alt="HBOgo"/></a>{% endif %}
      {% if movie.maxgo_url %}<a href="{{ movie.maxgo_url | escape }}" class="maxgo"><img src="/assets/entertainment/cinemax-622c2bd98de87f7b0a2872236dec4bfc.png" alt="MAXgo"/></a>{% endif %}
      {% if movie.showtime_url %}<a href="{{ movie.showtime_url | escape }}" class="showtime"><img src="/assets/entertainment/16x16/showtime-689bdf48f3c6585fced9b1ea61f32f1a.png" alt="showtime"/></a>{% endif %}
    </p>

    <p class="title">
      {% if movie.rotten_tomatoes_url %}
        <a href="{{ movie.rotten_tomatoes_url }}">{{ movie.title | escape }}</a>
      {% else %}
        {{ movie.title | escape }}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>
