<p class="buttons">
  <a href="#" class="play-random btn btn-primary btn-large"><i class="icon-random">&nbsp;</i>&nbsp;&nbsp;&nbsp;Play Something</a>
</p>

<ul class="music-videos">
  {% for music_video in music_videos %}
  <li>
    <a href="{{ music_video.video_url }}" title="{{ music_video.artist | escape }} - {{ music_video.song | escape }}"><img src="{{ music_video.thumbnail_url }}" width="240" alt="{{ music_video.artist | escape }} - {{ music_video.song | escape }}"/></a>
    <h4><a href="{{ music_video.video_url }}">{{ music_video.artist | escape }} - {{ music_video.song | escape }}</a></h4>
  </li>
  {% endfor %}
</ul>

<div style="clear:both;"></div>
