<ul id="poster-filters">
  <li><span class="label label-inverse">Filters</span></li>
  <li><a href="#" class="btn btn-primary">All</a></li>
  <li><a href="#" class="btn" data-filter="netflix"><%= image_tag('entertainment/16x16/netflix.png') %></a></li>
  <li><a href="#" class="btn" data-filter="hulu"><%= image_tag('entertainment/16x16/hulu.png') %></a></li>
  <li><a href="#" class="btn" data-filter="amazon"><%= image_tag('entertainment/16x16/amazon.png') %></a></li>
  <li><a href="#" class="btn amazon-prime" data-filter="amazon-prime"><%= image_tag('entertainment/amazon-prime.png') %></a></li>
  <li><a href="#" class="btn" data-filter="hbogo"><%= image_tag('entertainment/hbo.png') %></a></li>
  <li><a href="#" class="btn" data-filter="maxgo"><%= image_tag('entertainment/cinemax.png') %></a></li>
  <li><a href="#" class="btn" data-filter="showtime"><%= image_tag('entertainment/16x16/showtime.png') %></a></li>
</ul>

<ul id="posters">
<% @current_post.data.each do |show| %>
  <li>
    <p class="poster">
      <%= link_to(image_tag(show.poster_url, alt: show.title), show.wikipedia_url) %>
    </p>

    <p class="media-links">
      <%= link_to image_tag('entertainment/16x16/netflix.png'), show.netflix_url, class: 'netflix' if show.netflix_instant? %>
      <%= link_to image_tag('entertainment/16x16/hulu.png'), show.hulu_url, class: 'hulu' if show.hulu? %>
      <% if show.amazon_prime? %>
        <%= link_to image_tag('entertainment/amazon-prime.png'), show.amazon_url, class: 'amazon-prime' %>
      <% elsif show.amazon? %>
        <%= link_to image_tag('entertainment/16x16/amazon.png'), show.amazon_url, class: 'amazon' %>
      <% end %>
      <%= link_to image_tag('entertainment/hbo.png'), show.hbogo_url, class: 'hbogo' if show.hbogo? %>
      <%= link_to image_tag('entertainment/cinemax.png'), show.maxgo_url, class: 'maxgo' if show.maxgo? %>
      <%= link_to image_tag('entertainment/16x16/showtime.png'), show.showtime_url, class: 'showtime' if show.showtime? %>
    </p>

    <p class="title">
      <%= link_to(show.title, show.wikipedia_url) %>
    </p>
  </li>
<% end %>
</ul>
