<div class="alert alert-info">
  <h2>How it works</h2>
  <ul>
    <li>Underneath "Teams": select the teams you've already used, and they'll be dimmed on the schedule.</li>
    <li>Underneath "Schedule": mouse over a team to highlight its remaining games, then click to select them for that week.</li>
    <li>Underneath "Schedule" for touch screens: touch a team to see their remaining games, touch them again to select them for that week, and touch them again to deselect.</li>
    <li><strong>Good Luck!</strong></li>
  </ul>
</div>

<h2>Teams</h2>

<% @teams_by_conference.each do |conference, divisions| %>
<table class="table-bordered teams">
  <tbody>
    <tr>
      <% divisions.each do |division, teams| %>
      <th>
        <%= link_to(division, '#', class: 'team') %>
      </th>
      <% end %>
    </tr>
    <tr>
      <% divisions.each do |division, teams| teams.sort! {|a, b| b.wins_count <=> a.wins_count } %>
      <td class="division">
        <table>
          <% teams.each do |team| %>
          <tr class="team">
            <td class="nfl-teams">
              <span class="team-container">
                <%= link_to(content_tag(:em, team.id), '#', class: "team #{team.id}", 'data-team-id' => team.id) %>
              </span>
            </td>
            <td class="name"><%= team.name %></td>
            <td class="wins"><%= team.wins_count %></td>
            <td>-</td>
            <td class="losses"><%= team.losses_count %></td>
          </tr>
          <% end %>
        </table>

      </td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>

<% if @games_by_week.any? %>
<h2>Schedule</h2>

<div class="weeks-box">
  <div class="weeks-container" style="width: <%= @games_by_week.keys.length * 88 %>px;">
    <table class="table-bordered weeks">
      <tbody>
        <tr>
          <% @games_by_week.each do |week, games| %>
          <th>
            <%= link_to("Week #{week}", '#', class: 'week') %>
          </th>
          <% end %>
        </tr>
        <tr>
          <% @games_by_week.each do |week, games| %>
          <td>
            <ul class="games nfl-teams week-<%= week %>" data-week="<%= week %>">
              <% games.each do |game| %>
              <li>
                <span class="team-container">
                  <%= link_to(content_tag(:em, game.away_team_id), '#', class: "team #{game.away_team_id}", title: game.away_team.name, 'data-team-id' => game.away_team_id) %>
                </span>
                <span class="at">@</span>
                <span class="team-container">
                  <%= link_to(content_tag(:em, game.home_team_id), '#', class: "team #{game.home_team_id}", title: game.home_team.name, 'data-team-id' => game.home_team_id) %>
                </span>
              </li>
              <% end %>
            </ul>

          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
